
body {
	background:
		linear-gradient(
				rgba(0, 0, 0, 0.1),
				rgba(0, 0, 0, 0.1)
		),
		url("../images/bg.png");
	background-size: cover;
  color: #000;
	font-family: "Work Sans", Arial, Helvetica, sans-serif;
	font-size: medium;

}

.container {
	border: 1px solid #000;
	width: 60%;
	margin: 1em auto;
	height: 100%; 
	padding-top:0.5em;
	background-color: #f0f0f0;
	text-align: center;
  opacity: 0.95;
}

h1 {
	background-color: #f0f0f0;
	color: #000;
	font-size: 90px;
	text-align: center;
	margin: 0.5em auto;
	opacity: 0.95;

}

h2 {
	display: inline-block;
	font-size: medium;
	margin: 0.675em auto;
}

img {
	height: 50%;
	width: 50%;

}

#answersGuessed {
	border-bottom: 1px solid #000;
	margin-bottom: 0.25em;
}


